
/*  reset css  ----------  */

/*  http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

/*  Reseteo de cajas... anchura total = width  */
*{box-sizing: border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*  HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: none;
    list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Estilor por elementos*/

:root{
	--color-primario: #252F3A;
	--color-secundario: #FFFFFF;

	--color-primario-hover: #FFFFFF;
	--color-secundario-hover: #252F3A;
}

/* Menú */
nav{
	margin: 0px !important;
	padding: 0px !important;
}

a{
	text-align: center;
}

a:hover{
	background-color: var(--color-primario-hover);
	color: var(--color-secundario-hover) !important;
	border-radius: 3px;
}

.nav-link{
	color: var(--color-secundario) !important;
}

.active{
	color: var(--color-secundario-hover) !important;
	border-radius: 3px;
	background-color: var(--color-primario-hover) !important;
}
/* Botón del menú collapse */
.navbar-toggler{
	margin: 4px;
}

.nav-item{
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 2px;
	margin-left: 2px;
}


/* Tabla de productos */
thead{
	background-color: var(--color-primario) !important;
	color: var(--color-secundario);
}

tr > td:hover{
	background-color: #DDDDDD !important;
}

td, th{
	padding: 5px !important;
}

.table{
	color: #000000 !important;
	font-size: 80%;
}


/* Botones */
.btn{
	background-color: var(--color-primario) !important;
	color: var(--color-secundario) !important;
	border-style: solid;
	border-radius: 4px;
	border-color: var(--color-primario);
}

.btn:hover{
	background-color: var(--color-primario-hover) !important;
	color: var(--color-secundario-hover) !important;
	border-style: solid;
	border-radius: 4px;
	border-color: var(--color-primario);
}


/* inputs */
#codBar{
	text-align: center !important;
	margin-top: 10px !important;
}

/*
.form-control{
	margin-bottom: 10px !important;
	font-size: 80%;
}
*/
.input-width{
	width: 100% !important;
}



input[type=file], input[type=file]::-webkit-file-upload-button {
    cursor: pointer !important; 
}

input#input-imagen{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#input-guardar{
	float: right;
	clear: both;
	font-size: 87% !important;
	width: 48.5%;
}

#input-cancelar{
	font-size: 87% !important;
	width: 48.5%;
}


/* Divs */
div#div-body{
	background-color: var(--color-secundario);
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #DDDDDD;
}

div#menu{
	padding: 0px !important;
}

div#div-input-imagen{
	background-color: var(--color-primario);

	position: relative;

	width: 100%;
	padding: 7px;

	margin-bottom: 10px;

	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-primario);

	color: var(--color-secundario);
	text-align: center;
}

div#div-input-imagen:hover{
	color: var(--color-primario);
	background-color: var(--color-secundario);
}

#div-nav{
	border-bottom: solid;
	border-width: 1px;
	border-color: var(--color-primario);
	background-color: var(--color-primario);
}

#div-image{
	padding: 0px;

	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;

	border-style: solid !important;
	border-color: #DDDDDD !important;
	border-width: 1px !important;
	border-radius: 3px !important;

	background-color: #FFFFFF !important;

	overflow: hidden !important;
	position: relative !important;
}

#div-head-form{
	background-color: var(--color-primario);
	padding: 0px;
	border-style: solid;
	border-bottom-style: none;
	border-width: 1px;
	height: 35px;
	font-size: 95%;
	margin-bottom: 0px !important;
	margin-top: 40px;
	border-color: var(--color-primario) !important;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: var(--color-secundario);
	padding: 5px;
	padding-left: 12px;
}

#div-form{
	padding-bottom: 75px !important;
	padding-top: 45px !important;
	padding-left: 15px;
	padding-right: 15px;

	margin-top: 0px !important;
	margin-bottom: 40px !important;

	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #F6FFF9;
}


/*login*/

div.div-content{
	width: 100%;
	top: 0px;
	bottom: 0px;
	display: flex;
  	justify-content: center;
	align-items: center;
	position: absolute;
}

div.div-login{
	border-style: solid;
	border-color: #252F3A;
	height: 450px;
	width: 350px;
	border-width: 2px;
	border-radius: 5px;
	background-color: #FBFBFC;
}

*{font-family: 'Roboto', sans-serif !important; font-style: normal !important; color: #252F3A !important;}

label{
	font-size: 20px;
	padding-top: 20px;
}

input{
	font-size: 16px;
	height: 40px;
	padding-top: 10px;
	background-color: #FFFFFF;
	border-color: #252F3A;
	border-width: 2px !important;
	border-radius: 5px !important;
}

.form-control:focus{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #252F3A !important;
}

#input-sesion{
	margin-top: 20px !important;
	width: 100%;
	font-size: 20px;
	background-color: #252F3A;
	color: #FFFFFF;
	padding: 0px;
	border-color: #252F3A !important;
}

img{
	width: 150px;
	margin-top: 20px;
}

#div-logo{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

p#recuperar{
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}

p#recuperar:hover{
	text-decoration: underline;
	cursor: pointer !important;
}