/*  reset css  ----------  */

/*  http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

/*  Reseteo de cajas... anchura total = width  */
*{box-sizing: border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*  HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: none;
    list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  variables  ----------  */
:root{
	--color-primario: #252F3A;
	--color-secundario: #FFFFFF;

	--color-primario-hover: #FFFFFF;
	--color-secundario-hover: #252F3A;

	--color-navfooter: #D1D9E2;

	--color-text-input: #3F5164;
	--color-background-form: #FBFBFC;
}

/*  todos  ----------  */
*{font-family: 'Roboto', sans-serif !important; font-style: normal !important; color: var(--color-primario) !important;}

h1{font-size: 28px !important;}
h2{font-size: 24px !important;}
h3{font-size: 20px !important;}
h4{font-size: 18px !important;}
h5{font-size: 16px !important;}
h6{font-size: 14px !important;}


/* botones */
.btn{
	background-color: var(--color-primario) !important;
	color: var(--color-secundario) !important;
	border-style: solid;
	border-radius: 20px;
	border-color: var(--color-primario);
}

.btn:hover{
	background-color: var(--color-primario-hover) !important;
	color: var(--color-secundario-hover) !important;
	border-style: solid;
	border-radius: 4px;
	border-color: var(--color-primario);
}

/*  login.php  ----------  */
.div-content{
	top: 0px; right: 0px; bottom: 0px; left: 0px;

	/* alinea verticalmente el contenido*/
	display: flex;
	align-items: center;
	position: absolute;
}

.div-login{
	height: 450px; width: 350px;
	
	padding-left: 35px; padding-right: 35px;

	border: 2px solid var(--color-primario); border-radius: 5px;

	background-color: var(--color-background-form);

	/* alinea el contenedor en el centro*/
	margin-left: auto; margin-right: auto;
}

label{
	font-size: 20px;
	padding-top: 20px;
}

input{
	font-size: 16px;
	height: 40px;
	padding-top: 10px;
	background-color: var(--color-secundario);
	border-color: var(--color-primario);
	border-width: 2px !important;
	border-radius: 5px !important;
}


/*  border de los inputs  ----------  */
.form-control:focus{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: var(--color-primario) !important;
}

/*  input submit iniciar sesión  */
#input-sesion{
	width: 100%;
	margin-top: 20px !important;
	padding: 0px;

	font-size: 20px;
	color: Var(--color-secundario);
}

p#recuperar{
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}

p#recuperar:hover{
	text-decoration: underline;
	cursor: pointer !important;
}

/*  logo de la empresa  ----------  */
div.div-logo{text-align: center;}

img.img-logo{
	width: 150px !important;
	margin-top: 20px !important;
}

/* diseño responsibe */
@media screen and (max-width: 325px){
	img{width: 135px !important;}

	.div-login{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 300px){
	img{width: 120px !important;}

	.div-login{
		padding-left: 25px;
		padding-right: 25px;
	}
}